fastapi>=0.116.1,<0.117
starlette>=0.47.0,<0.48
uvicorn[standard]
pydantic
email-validator
pydantic-settings
sqlalchemy
psycopg[binary]
alembic
python-dotenv
pytest
httpx<0.28

chromadb
langchain-openai

langgraph
